.scene-transitions {
  position: fixed;
  z-index: 5000;
  padding: 10%;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: none;
  line-height: 1.4em;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}
.scene-transitions .scene-transitions-bg {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.scene-transitions .scene-transitions-content {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 28px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%;
  overflow: hidden;
  width: 80%;
  left: 10%;
  line-height: 2em;
  text-align: center;
  z-index: 2;
}
.scene-transitions.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  line-height: 1.7em;
  padding: 4%;
}
.scene-transitions.preview .scene-transitions-content {
  display: block;
  font-size: 11px;
}
#scene-transitions-form {
}
#scene-transitions-form .scroll {
  height: 100%;
  max-height: calc(500px - 72px);
  margin-bottom: 5px;
  overflow-y: scroll;
  padding: 8px;
}
#scene-transitions-form .window-content {
  padding: 0;
}
#scene-transitions-form .editor-box {
  min-height: 220px;
  height: 300px;
  /* max-width: calc(100% - 180px); */
  margin-top: 10px;
}
#scene-transitions-form .editor {
  height: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.8);
}
#scene-transitions-form .tox.tox-tinymce {
  height: 100% !important;
  min-height: 220px;
}
#scene-transitions-preview {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 68%;
  max-height: 272px;
  margin: 0px auto 20px;
  outline: 1px solid;
}
